## Default Isolation Forest With Five Trials

In [1]:
from sklearn.ensemble import IsolationForest
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 300)
import seaborn as sns

In [3]:
ordinal = pd.read_csv('../Data/BaseOrdinal.csv')
ordinal.shape

(2580, 81)

In [4]:
ordinal = ordinal.drop(['Unnamed: 0'], axis=1)
ordinal.shape

(2580, 80)

In [5]:
X = ordinal.values
#y = ordinal.SalePrice.values

In [6]:
preds = []
decs = []

for i in range(5):
    #iso = IsolationForest(n_estimators=1000, max_samples=750, contamination=0.01).fit(X)
    iso = IsolationForest().fit(X)
    pred = pd.Series(iso.predict(X))
    dec = pd.Series(iso.decision_function(X))
    preds.append(pred)
    decs.append(dec)
    
    #result_pred = pd.concat([pred], axis=1)
    #result_dec = pd.concat([dec], axis=1)

In [7]:
combined_pred = pd.concat(preds, axis=1)
combined_pred

      0  1  2  3  4
0     1  1  1  1  1
1     1  1  1  1  1
2     1  1  1  1  1
3     1  1  1  1  1
4     1  1  1  1  1
...  .. .. .. .. ..
2575  1  1  1  1  1
2576  1  1  1  1  1
2577  1  1  1  1  1
2578  1  1  1  1  1
2579  1  1  1  1  1

[2580 rows x 5 columns]

In [8]:
combined_pred['Pred_Sum'] = combined_pred.sum(axis=1)
combined_pred

      0  1  2  3  4  Pred_Sum
0     1  1  1  1  1         5
1     1  1  1  1  1         5
2     1  1  1  1  1         5
3     1  1  1  1  1         5
4     1  1  1  1  1         5
...  .. .. .. .. ..       ...
2575  1  1  1  1  1         5
2576  1  1  1  1  1         5
2577  1  1  1  1  1         5
2578  1  1  1  1  1         5
2579  1  1  1  1  1         5

[2580 rows x 6 columns]

In [9]:
combined_dec = pd.concat(decs, axis=1)
combined_dec

             0         1         2         3         4
0     0.105340  0.103381  0.098216  0.103304  0.102658
1     0.073378  0.070407  0.078796  0.075372  0.063869
2     0.085648  0.034881  0.054498  0.033866  0.020016
3     0.059880  0.054418  0.051577  0.073703  0.042854
4     0.129682  0.119586  0.128557  0.120391  0.127516
...        ...       ...       ...       ...       ...
2575  0.034065  0.038297  0.011318  0.038469  0.023629
2576  0.036807  0.042311  0.021452  0.028149  0.034237
2577  0.048557  0.046378  0.031670  0.042205  0.046618
2578  0.123572  0.126344  0.136097  0.124556  0.126550
2579  0.117791  0.127535  0.128176  0.121313  0.118543

[2580 rows x 5 columns]

In [10]:
combined_dec['Dec_Sum'] = combined_dec.sum(axis=1)
combined_dec

             0         1         2         3         4   Dec_Sum
0     0.105340  0.103381  0.098216  0.103304  0.102658  0.512899
1     0.073378  0.070407  0.078796  0.075372  0.063869  0.361822
2     0.085648  0.034881  0.054498  0.033866  0.020016  0.228909
3     0.059880  0.054418  0.051577  0.073703  0.042854  0.282433
4     0.129682  0.119586  0.128557  0.120391  0.127516  0.625732
...        ...       ...       ...       ...       ...       ...
2575  0.034065  0.038297  0.011318  0.038469  0.023629  0.145777
2576  0.036807  0.042311  0.021452  0.028149  0.034237  0.162957
2577  0.048557  0.046378  0.031670  0.042205  0.046618  0.215427
2578  0.123572  0.126344  0.136097  0.124556  0.126550  0.637120
2579  0.117791  0.127535  0.128176  0.121313  0.118543  0.613358

[2580 rows x 6 columns]

In [11]:
final = combined_pred.join(combined_dec, lsuffix='pred', rsuffix='dec')
final.sort_values(by='Dec_Sum')

,0pred,1pred,2pred,3pred,4pred,Pred_Sum,0dec,1dec,2dec,3dec,4dec,Dec_Sum
50,-1,-1,-1,-1,-1,-5,-0.087276,-0.090899,-0.132238,-0.101278,-0.103238,-0.514930
2204,-1,-1,-1,-1,-1,-5,-0.064258,-0.094518,-0.075044,-0.087248,-0.088732,-0.409799
2425,-1,-1,-1,-1,-1,-5,-0.070661,-0.072915,-0.086316,-0.069915,-0.093674,-0.393481
309,-1,-1,-1,-1,-1,-5,-0.105065,-0.056016,-0.056382,-0.061526,-0.084314,-0.363302
2273,-1,-1,-1,-1,-1,-5,-0.046599,-0.058274,-0.066249,-0.068753,-0.048985,-0.288860
...,...,...,...,...,...,...,...,...,...,...,...,...
1797,1,1,1,1,1,5,0.134292,0.138896,0.138756,0.136855,0.136098,0.684897
633,1,1,1,1,1,5,0.147711,0.138428,0.133149,0.133098,0.134477,0.686863
1962,1,1,1,1,1,5,0.136567,0.140729,0.140818,0.136634,0.140443,0.695192
1969,1,1,1,1,1,5,0.143554,0.143597,0.131758,0.140805,0.136485,0.696198
736,1,1,1,1,1,5,0.142120,0.144444,0.138288,0.138221,0.143663,0.706736

In [11]:
#Yields 50, 2004, 2273