## Default Isolation Forest With Five Trials

In [1]:
from sklearn.ensemble import IsolationForest
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 300)
import seaborn as sns

In [2]:
ordinal = pd.read_csv('BaseOrdinal.csv')
ordinal.shape

(2580, 83)

In [3]:
ordinal = ordinal.drop(['Unnamed: 0', 'PID', 'Unnamed: 0.1'], axis=1)
ordinal.shape

(2580, 80)

In [4]:
X = ordinal.values
#y = ordinal.SalePrice.values

In [5]:
preds = []
decs = []

for i in range(5):
    #iso = IsolationForest(n_estimators=1000, max_samples=750, contamination=0.01).fit(X)
    iso = IsolationForest().fit(X)
    pred = pd.Series(iso.predict(X))
    dec = pd.Series(iso.decision_function(X))
    preds.append(pred)
    decs.append(dec)
    
    #result_pred = pd.concat([pred], axis=1)
    #result_dec = pd.concat([dec], axis=1)

In [6]:
combined_pred = pd.concat(preds, axis=1)
combined_pred

      0  1  2  3  4
0     1  1  1  1  1
1     1  1  1  1  1
2     1  1  1  1  1
3     1  1  1  1  1
4     1  1  1  1  1
...  .. .. .. .. ..
2575  1  1  1  1  1
2576  1  1  1  1  1
2577  1  1  1  1  1
2578  1  1  1  1  1
2579  1  1  1  1  1

[2580 rows x 5 columns]

In [7]:
combined_pred['Pred_Sum'] = combined_pred.sum(axis=1)
combined_pred

      0  1  2  3  4  Pred_Sum
0     1  1  1  1  1         5
1     1  1  1  1  1         5
2     1  1  1  1  1         5
3     1  1  1  1  1         5
4     1  1  1  1  1         5
...  .. .. .. .. ..       ...
2575  1  1  1  1  1         5
2576  1  1  1  1  1         5
2577  1  1  1  1  1         5
2578  1  1  1  1  1         5
2579  1  1  1  1  1         5

[2580 rows x 6 columns]

In [8]:
combined_dec = pd.concat(decs, axis=1)
combined_dec

             0         1         2         3         4
0     0.088789  0.092939  0.100913  0.086188  0.099918
1     0.083083  0.075083  0.058375  0.071434  0.075398
2     0.028834  0.057036  0.041764  0.047753  0.057474
3     0.054767  0.047739  0.040016  0.056179  0.052109
4     0.130377  0.119996  0.116015  0.133147  0.120678
...        ...       ...       ...       ...       ...
2575  0.007426  0.029002  0.036925  0.031970  0.034453
2576  0.047501  0.034220  0.044925  0.041692  0.034335
2577  0.039493  0.027762  0.022203  0.020831  0.029996
2578  0.123885  0.120316  0.136142  0.132538  0.129124
2579  0.121397  0.110448  0.122878  0.124097  0.114106

[2580 rows x 5 columns]

In [9]:
combined_dec['Dec_Sum'] = combined_dec.sum(axis=1)
combined_dec

             0         1         2         3         4   Dec_Sum
0     0.088789  0.092939  0.100913  0.086188  0.099918  0.468746
1     0.083083  0.075083  0.058375  0.071434  0.075398  0.363373
2     0.028834  0.057036  0.041764  0.047753  0.057474  0.232861
3     0.054767  0.047739  0.040016  0.056179  0.052109  0.250810
4     0.130377  0.119996  0.116015  0.133147  0.120678  0.620214
...        ...       ...       ...       ...       ...       ...
2575  0.007426  0.029002  0.036925  0.031970  0.034453  0.139775
2576  0.047501  0.034220  0.044925  0.041692  0.034335  0.202674
2577  0.039493  0.027762  0.022203  0.020831  0.029996  0.140284
2578  0.123885  0.120316  0.136142  0.132538  0.129124  0.642005
2579  0.121397  0.110448  0.122878  0.124097  0.114106  0.592926

[2580 rows x 6 columns]

In [10]:
final = combined_pred.join(combined_dec, lsuffix='pred', rsuffix='dec')
final.sort_values(by='Dec_Sum')

,0pred,1pred,2pred,3pred,4pred,Pred_Sum,0dec,1dec,2dec,3dec,4dec,Dec_Sum
50,-1,-1,-1,-1,-1,-5,-0.099976,-0.074965,-0.068911,-0.065788,-0.106737,-0.416377
2004,-1,-1,-1,-1,-1,-5,-0.092497,-0.070698,-0.077288,-0.076014,-0.096779,-0.413275
2273,-1,-1,-1,-1,-1,-5,-0.071360,-0.064947,-0.074221,-0.076682,-0.068396,-0.355607
309,-1,-1,-1,-1,-1,-5,-0.075285,-0.063318,-0.060673,-0.062017,-0.051651,-0.312945
2425,-1,-1,-1,-1,-1,-5,-0.056597,-0.037618,-0.050250,-0.074099,-0.081946,-0.300509
...,...,...,...,...,...,...,...,...,...,...,...,...
1041,1,1,1,1,1,5,0.137810,0.130459,0.131326,0.139194,0.132091,0.670880
1288,1,1,1,1,1,5,0.136048,0.130794,0.133607,0.142117,0.130421,0.672987
1969,1,1,1,1,1,5,0.129769,0.131937,0.142060,0.141599,0.132467,0.677832
1962,1,1,1,1,1,5,0.129535,0.136615,0.138692,0.140890,0.132262,0.677994
736,1,1,1,1,1,5,0.137247,0.135380,0.139264,0.141595,0.139479,0.692964

In [11]:
#Yields 50, 2004, 2273